.Imagem{
    width: 80px!important;
    height: 60px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 10px;
    color: rgb(146, 83, 204);
    margin-bottom: 7px;
    text-align: center;
}
@media  screen and (min-width: 1024px ) {
    .gridimg{
        background-color: rgb(5, 97, 151)
    }
    .Imagem{
        border-top: 10px groove rgb(174, 0, 255);
        border-left: 10px dotted rgb(43, 6, 85);
        border-right: 10px solid rgb(27, 0, 71);
        border-bottom: 10px dashed rgb(2, 99, 112);
        width: 180px !important;
        height: 160 !important;
    }
    .titulo{
        font-size: 30px;
    }
}